.Countdown {
  height: 170px;
  width: 170px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  flex: 1;
  height: 25px;
  padding: 0;
}

.btn.wide {
  width: 100%;
}

.btnContainer {
  display: flex;
}