.Countdown {
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  flex: 1;
  height: 25px;
  padding: 0;
}

.btn.wide {
  width: 100%;
}

.btnContainer {
  display: flex;
}